[user]
	name = yangws
	email = wensheng.yang@cocos2d-x.org

[core]
    autocrlf = input
	excludesfile = ~/.gitignoreglobal
	editor = vim
	ignorecase = true
	quotepath = false

[color]
    ui = true

[push]
	default = simple

[help]
    autocorrect = 1

[diff]
	tool = bc4
[difftool]
    prompt = false
[difftool "bc4"]
	cmd = bcomp \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc4
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "bc4"]
	cmd = bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustexitcode = true


[pull]
	rebase = true
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[lfs "https://github-vincent/"]
	locksverify = true
[lfs "https://github.com/"]
	locksverify = true
[init]
	defaultBranch = main
