# [format doc](https://git-scm.com/docs/gitignore)

/*
\.DS_Store
################################################################################
# include root directory items
!/.bash_sessions_disable
!/.bashalias
!/.config/
!/.gitmodules
!/.gitconfig
!/.gitignore
!/.gitignoreglobal
!/.hammerspoon
!/.local/
!/.npmrc
!/.vim/
!/Library

################################################################################
# include application support items
/Library/*
!Library/Application\ Support/
Library/Application\ Support/*

# include visual studio code config
!Library/Application\ Support/Code/
Library/Application\ Support/Code/*
!Library/Application\ Support/Code/User/
Library/Application\ Support/Code/User/globalStorage/
Library/Application\ Support/Code/User/History/
Library/Application\ Support/Code/User/workspaceStorage/

# include host config
!Library/Application\ Support/Hosts/
