/*
!/Library/
!/.home-env/
!/.bashalias
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gitignoreglobal
!/.zshrc


/Library/*
!/Library/Application\ Support/

/Library/Application\ Support/*
!/Library/Application\ Support/Code/
!/Library/Application\ Support/Hosts/
!/Library/Application\ Support/keepassxc/

/Library/Application\ Support/Code/*
!/Library/Application\ Support/Code/User/

/Library/Application\ Support/Code/User/workspaceStorage/
