/*
!/Library/
!/.home-env/
!/.bashalias
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gitignoreglobal
!/.zshrc


/Library/*
!/Library/Application\ Support/

/Library/Application\ Support/*
!/Library/Application\ Support/Hosts/
!/Library/Application\ Support/keepassxc/
!/Library/Application\ Support/Logitech/
