[user]
	email = IdVincentYang@gmail.com
	name = Vincent Yang

[core]
	autocrlf = input
	excludesfile = ~/.gitignoreglobal
	ignorecase = false

[color]
	ui = true

[pull]
	rebase = true

[push]
	default = simple

[help]
	autocorrect = 1
