[submodule ".local/share/oh-my-zsh-custom/themes"]
	path = .local/share/oh-my-zsh-custom/themes
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule ".local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/oh-my-zsh"]
	path = .local/share/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".local/share/colorized-logs"]
	path = .local/share/colorized-logs
	url = https://github.com/kilobyte/colorized-logs.git
