################################################################################
# exclude all but self
/*
!/.gitignore
################################################################################
# include necessary items

# include aria2 config
!/aria2/

# include backups all
!/backups/

# include bash config
!/bash/

# include filezilla site config
!/filezilla/
/filezilla/*
!/filezilla/sitemanager.xml

# include karabiner config
!/karabiner/
/karabiner/automatic_backups/*

# include zsh config
!/zsh/
