################################################################################
# exclude all but self
/*
!/.gitignore
################################################################################
# include necessary items

